{
    "mail_host": null,
    "mail_port": null,
    "mail_user": null,
    "mail_pass": null,
    "mail_subject": "V2Ray Traffic Report",
    "database": "/etc/v2ray_stats/v2ray_stats.sqlite3",
    "server": "127.0.0.1:2335",
    "interval": 5,
    "debug": false
}