[Unit]
Description=V2Ray.Stats service
After=v2ray.service
Wants=v2ray.service

[Service]
Type=simple
ExecStart=python -m v2ray_stats -c /etc/v2ray_stats/%i.json
Restart=on-failure

[Install]
WantedBy=multi-user.target